
<article class="tour-detail">
  <div class="row">
    <div class="col-sm-12">
      <a href="/places/{{place._id}}">
        <h3>{{place.name}}</h3>
      </a>
    </div>
    <div class="col-sm-12">
      <div class="place-detail-photo" style="background-image: url('{{place.image}}');">
      </div>
    </div>

    {{!-- Food Rating --}}
    {{!-- <div class="col-sm-12 tour-detail-title">
      <div class="tour-detail-rating">
        <span class="rating-num">4.5</span>
        <img class="tour-rating-img" src="/img/food-rating.png" alt="1">
        <img class="tour-rating-img" src="/img/food-rating.png" alt="2">
        <img class="tour-rating-img" src="/img/food-rating.png" alt="3">
        <img class="tour-rating-img" src="/img/food-rating.png" alt="4">
        <img class="tour-rating-img" src="/img/food-rating.png" alt="5">
      </div>
    </div> --}}

    {{!-- Beer Rating --}}
    {{!-- <div class="col-sm-12 tour-detail-title">
      <div class="tour-detail-rating">
        <span class="rating-num">4.5</span>
        <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="1">
        <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="2">
        <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="3">
        <img class="tour-rating-img" src="/img/rating-beer-on.png" alt="4">
        <img class="tour-rating-img" src="/img/rating-beer-half.png" alt="5">
      </div>
    </div> --}}

    {{!-- Google Rating --}}
    <div class="col-12 tour-detail-rating">
      <span class="rating-num">{{place.rating}}</span>

      {{!-- Star 1 --}}
      {{#ifCond place.rating '<=' 0}}
      <img src="/img/star-off.png" alt="1">
      {{ else ifCond place.rating '>=' 1}}
      <img src="/img/star-on.png" alt="1">
      {{ else ifCond place.rating '>=' 0.5}}
      <img src="/img/star-half.png" alt="1">
      {{ else }}
      <img src="/img/star-off.png" alt="1">
      {{/ifCond}}

      {{!-- Star 2 --}}
      {{#ifCond place.rating '<=' 1}}
      <img src="/img/star-off.png" alt="2">
      {{ else ifCond place.rating '>=' 2}}
      <img src="/img/star-on.png" alt="2">
      {{ else ifCond place.rating '>=' 1.5}}
      <img src="/img/star-half.png" alt="2">
      {{ else }}
      <img src="/img/star-off.png" alt="2">
      {{/ifCond}}

      {{!-- Star 3 --}}
      {{#ifCond place.rating '<=' 2}}
      <img src="/img/star-off.png" alt="3">
      {{ else ifCond place.rating '>=' 3}}
      <img src="/img/star-on.png" alt="3">
      {{ else ifCond place.rating '>=' 2.5}}
      <img src="/img/star-half.png" alt="3">
      {{ else }}
      <img src="/img/star-off.png" alt="3">
      {{/ifCond}}

      {{!-- Star 4 --}}
      {{#ifCond place.rating '<=' 3}}
      <img src="/img/star-off.png" alt="4">
      {{ else ifCond place.rating '>=' 4}}
      <img src="/img/star-on.png" alt="4">
      {{ else ifCond place.rating '>=' 3.5}}
      <img src="/img/star-half.png" alt="4">
      {{ else }}
      <img src="/img/star-off.png" alt="4">
      {{/ifCond}}

      {{!-- Star 5 --}}
      {{#ifCond place.rating '<=' 4}}
      <img src="/img/star-off.png" alt="5">
      {{ else ifCond place.rating '>=' 5}}
      <img src="/img/star-on.png" alt="5">
      {{ else ifCond place.rating '>=' 4.5}}
      <img src="/img/star-half.png" alt="5">
      {{ else }}
      <img src="/img/star-off.png" alt="5">
      {{/ifCond}}
    </div>

    {{!-- Place info --}}
    <div class="col-sm-12">
      <p class="place-text-location"><strong>Dirección: </strong>{{place.address}}</p>
      <p class="place-text-location"><strong>Horario: {{#if place.isOpen}}</strong><span
          class="text-green">Abierto</span>{{else}}</strong><span class="text-red">Cerrado</span>{{/if}}</p>
      {{#each place.openingHours}}
      <p class="schedule">{{this}}</p>
      {{/each}}
      <p class="place-text-location"><strong>Precios:
        </strong>{{#ifCond place.priceLevel '==' 1}}€{{ else ifCond place.priceLevel '==' 2}}€€{{ else ifCond place.priceLevel '==' 3}}€€€{{/ifCond}}
      </p>
    </div>
    {{!-- <div class="col-sm-12 tour-detail-desc">
            <strong>Description:</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
                nisi
                lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor.
                    Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut
                    aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
                    venenatis
                    imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
                    eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
            <button onclick="readMore()" id="myBtn">Read more</button>
        </div> --}}

    {{!-- Tour Location --}}
    <div class="col-sm-12">
      <div class="tour-detail-location">
        <strong>City: </strong> Madrid
      </div>
      <div class="place-detail-map"></div>
    </div>




  </div>
</article>


<!--
<div class="card">
  <img src="{{place.image}}" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title"><a href="/places/{{place._id}}" class="text-dark">{{place.name}}</a></h5>

    {{#if showDescription}}
      <p class="card-text">
        {{place.description}}
      </p>
    {{/if}}
    
    <p class="card-text">
      {{#if place.owner.name}}
        owner: <a href="/users/{{place.owner.id}}">{{place.owner.name}}</a>
      {{/if}}

      {{#if place.staff.name}}
        <small class="text-muted d-block">Staff: <a href="/users/{{place.staff.id}}">{{place.staff.name}}</a></small>
      {{/if}}
    </p>

    <a href="{{place.github}}" class="btn btn-dark btn-sm" target="_blank">
      <i class="fa fa-github mr-1"></i>
    </a>

    <a href="{{place.url}}" class="btn btn-primary btn-sm" target="_blank">
      <i class="fa fa-globe mr-1"></i>
    </a>

    <button type="button" class="btn-sm btn btn-outline-danger" data-like-place="{{place.id}}">
      <i class="fa fa-heart mr-1"></i>
      <span class="likes-count">{{place.likes}}</span>
      Likes
    </button>
  </div>

  <div class="card-footer">
    <small class="text-muted">{{date place.createdAt}}</small>
  </div>
</div>-->