<div class="purple-back-secundary">
  <h4 class="tour-detail-title-primary">
    <strong>PLACE </strong> DETAIL
  </h4>
  <div class="tour-detail-img">
    <img src="/img/placedetail.svg" alt="Tour Detail">
  </div>
</div>
<div class="mb-4 mt-5">
  {{>places/placecard place=place showDescription=true}}
</div>

{{#ifEquals place.owner.email currentUser.email}}
<div class="mb-3">
  <a href="/places/{{place._id}}/edit" class="btn btn-secondary">
    <i class="fa fa-cog"></i>
    Edit
  </a>


  <a href="/places/{{place._id}}/delete" class="btn btn-danger">
    <i class="fa fa-trash"></i>
    Delete
  </a>
</div>
{{/ifEquals}}


{{!-- Reviews --}}

<h3>Reviews</h3>

<div class="tour-detail-comments-content">
  <div class="tour-comment-current-user">
    {{!-- <img src="{{currentUser.avatar}}" width="20" class="mr-2 rounded-circle" />
                    {{currentUser.name}} --}}
    <img class="pr-2" src="/img/current-user.png" alt="Current User"> Jaime Baró Val
  </div>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam amet unde deleniti perferendis saepe
    corporis nesciunt modi, et ipsa cumque...</p>
</div>

<div id="comments">
  <h2>Comments</h2>

  {{>places/newcomment}}

  {{#each place.comments as |comment|}}
  <div class="border-bottom mb-3 py-3">
    <p>{{comment.text}}</p>

    <small>
      User:
      <a href="/users/{{comment.user._id}}">
        <img src="{{comment.user.avatar}}" class="rounded-circle" width="20" />
        {{comment.user.name}}
      </a>
    </small>

    <small class="d-block">Date: {{date comment.createdAt}}</small>

    {{#ifEquals comment.user.email ../currentUser.email}}
    <form action="/comments/{{comment._id}}/delete" method="POST">
      <button type="submit" class="mt-1 btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </form>
    {{/ifEquals}}
  </div>
  {{/each}}
</div>