<div class="purple-back-secundary">
  <h4 class="tour-detail-title-primary">
    <a class="appyhour-breadcrumb" href="/tours">TOURS</a> <span class="appy-slack">/</span> <a
      class="appyhour-breadcrumb" onclick="goBack()" href="javascript:void(0);">TOUR</a> <span
      class="appy-slack">/</span> PLACE
  </h4>
</div>
<div class="mb-4">
  {{>places/placecard place=place showDescription=true}}
</div>

{{!-- Reviews --}}

<h3>Reviews</h3>

{{#each place.reviews}}
<div class="place-detail-comments-content">
  <div class="place-detail-review-rating">
    <span class="rating-num">{{this.rating}}</span>
    {{!-- Beer 1 --}}
    {{#ifCond this.rating '<=' 0}}
    <img src="/img/star-off.png" alt="1">
    {{ else ifCond this.rating '>=' 1}}
    <img src="/img/star-on.png" alt="1">
    {{ else ifCond this.rating '>=' 0.5}}
    <img src="/img/star-half.png" alt="1">
    {{ else }}
    <img src="/img/star-off.png" alt="1">
    {{/ifCond}}
    {{!-- Beer 2 --}}
    {{#ifCond this.rating '<=' 1}}
    <img src="/img/star-off.png" alt="2">
    {{ else ifCond this.rating '>=' 2}}
    <img src="/img/star-on.png" alt="2">
    {{ else ifCond this.rating '>=' 1.5}}
    <img src="/img/star-half.png" alt="2">
    {{ else }}
    <img src="/img/star-off.png" alt="2">
    {{/ifCond}}

    {{!-- Beer 3 --}}
    {{#ifCond this.rating '<=' 2}}
    <img src="/img/star-off.png" alt="3">
    {{ else ifCond this.rating '>=' 3}}
    <img src="/img/star-on.png" alt="3">
    {{ else ifCond this.rating '>=' 2.5}}
    <img src="/img/star-half.png" alt="3">
    {{ else }}
    <img src="/img/star-off.png" alt="3">
    {{/ifCond}}

    {{!-- Beer 4 --}}
    {{#ifCond this.rating '<=' 3}}
    <img src="/img/star-off.png" alt="4">
    {{ else ifCond this.rating '>=' 4}}
    <img src="/img/star-on.png" alt="4">
    {{ else ifCond this.rating '>=' 3.5}}
    <img src="/img/star-half.png" alt="4">
    {{ else }}
    <img src="/img/star-off.png" alt="4">
    {{/ifCond}}

    {{!-- Beer 5 --}}
    {{#ifCond this.rating '<=' 4}}
    <img src="/img/star-off.png" alt="5">
    {{ else ifCond this.rating '>=' 5}}
    <img src="/img/star-on.png" alt="5">
    {{ else ifCond this.rating '>=' 4.5}}
    <img src="/img/star-half.png" alt="5">
    {{ else }}
    <img src="/img/star-off.png" alt="5">
    {{/ifCond}}
  </div>
  <div class="place-comment-current-user">
    <img class="place-detail-autorPhoto pr-2" src="{{this.autorPhoto}}" alt="Current User">
    {{dotdotdot this.autorName 13}}
  </div>
  <p>{{dotdotdot this.text 150}}</p>
</div>
{{/each}}

{{#ifEquals place.owner.email currentUser.email}}
<div class="mb-3 mt-5">
  <a href="/places/{{place._id}}/edit" class="btn btn-secondary">
    <i class="fa fa-cog"></i>
    Edit
  </a>


  <a href="/places/{{place._id}}/delete" class="btn btn-danger">
    <i class="fa fa-trash"></i>
    Delete
  </a>
</div>
{{/ifEquals}}

{{!-- <div id="comments">
  <h2>Comments</h2>

  {{>places/newcomment}}

  {{#each place.comments as |comment|}}
  <div class="border-bottom mb-3 py-3">
    <p>{{comment.text}}</p>

    <small>
      <a href="/users/{{comment.user._id}}">
        <img src="{{comment.user.avatar}}" class="rounded-circle" width="20" />
        {{comment.user.name}}
      </a>
    </small>

    <small class="d-block">Date: {{date comment.createdAt}}</small>

    {{#ifEquals comment.user.email ../currentUser.email}}
    <form action="/comments/{{comment._id}}/delete" method="POST">
      <button type="submit" class="mt-1 btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </form>
    {{/ifEquals}}
  </div>
  {{/each}}
</div> --}}