
<span>tour name {{tour.name}} </span>
<br>
<span>tour id {{tour.id}} </span>


  {{#each places}}
<a href="/places/{{this._id}}">
    <div class="row pb-3 pt-3">
        <div class="col-3">
            <div class="tour-detail-list-photo" style="background-image: url('{{this.image}}');">
            </div>
            {{#if @index}}
            <div class="tour-line">
                <img class="tour-line-img" src="/img/tour-line.png" alt="Tour Line">
            </div>
            {{ else if @first}}
            <div class="tour-line">
                <img class="tour-line-img" src="/img/tour-line.png" alt="Tour Line">
            </div>
            {{/if}}
        </div>
        <div class="col-9">
            <div class="tour-circle">
                <p class="tour-num">{{inc @index}}</p>
                <img src="/img/tour-circle-purple.png" alt="Circle Purple">
            </div>
            <h3 class="tour-create-title">{{dotdotdot this.name 35}}</h3>
            <p class="tour-desc">{{dotdotdot this.address 60}}</p>
        </div>
        <div class="col-12 tour-rating">
            {{!-- <span class="user-rating">(74)</span> --}}
            <span class="rating-num">{{this.rating}}</span>

            {{!-- Star 1 --}}
            {{#ifCond this.rating '<=' 0}}
            <img src="/img/star-off.png" alt="1">
            {{ else ifCond this.rating '>=' 1}}
            <img src="/img/star-on.png" alt="1">
            {{ else ifCond this.rating '>=' 0.5}}
            <img src="/img/star-half.png" alt="1">
            {{ else }}
            <img src="/img/star-off.png" alt="1">
            {{/ifCond}}

            {{!-- Star 2 --}}
            {{#ifCond this.rating '<=' 1}}
            <img src="/img/star-off.png" alt="2">
            {{ else ifCond this.rating '>=' 2}}
            <img src="/img/star-on.png" alt="2">
            {{ else ifCond this.rating '>=' 1.5}}
            <img src="/img/star-half.png" alt="2">
            {{ else }}
            <img src="/img/star-off.png" alt="2">
            {{/ifCond}}

            {{!-- Star 3 --}}
            {{#ifCond this.rating '<=' 2}}
            <img src="/img/star-off.png" alt="3">
            {{ else ifCond this.rating '>=' 3}}
            <img src="/img/star-on.png" alt="3">
            {{ else ifCond this.rating '>=' 2.5}}
            <img src="/img/star-half.png" alt="3">
            {{ else }}
            <img src="/img/star-off.png" alt="3">
            {{/ifCond}}

            {{!-- Star 4 --}}
            {{#ifCond this.rating '<=' 3}}
            <img src="/img/star-off.png" alt="4">
            {{ else ifCond this.rating '>=' 4}}
            <img src="/img/star-on.png" alt="4">
            {{ else ifCond this.rating '>=' 3.5}}
            <img src="/img/star-half.png" alt="4">
            {{ else }}
            <img src="/img/star-off.png" alt="4">
            {{/ifCond}}

            {{!-- Star 5 --}}
            {{#ifCond this.rating '<=' 4}}
            <img src="/img/star-off.png" alt="5">
            {{ else ifCond this.rating '>=' 5}}
            <img src="/img/star-on.png" alt="5">
            {{ else ifCond this.rating '>=' 4.5}}
            <img src="/img/star-half.png" alt="5">
            {{ else }}
            <img src="/img/star-off.png" alt="5">
            {{/ifCond}}
        </div>
    </div>
</a>
{{/each}}
