<article class="tour-detail">
    <div class="purple-back-secundary">
        <h4 class="tour-detail-title-primary">
            <a class="appyhour-breadcrumb" href="/tours">TOURS</a> <span class="appy-slack">/</span> TOUR
        </h4>
        {{!-- <div class="tour-detail-img">
            <img src="/img/tourdetail.svg" alt="Tour Detail">
        </div> --}}
    </div>
    <h3 class="tour-detail-nametour">
        {{#if tour.recommended}}
        <i class="fa fa-star recommended-star"></i>
        {{/if}}
        {{tour.name}}</h3>

    <div class="tour-detail-photo " style="background-image: url('{{tour.image}}');">

        <div class="tour-list-rating detail">
            <span class="rating-num">{{tour.rating}}</span>
            {{!-- Beer 1 --}}
            {{#ifCond tour.rating '<=' 0}}
            <img src="/img/rating-beer-off.png" alt="1">
            {{ else ifCond tour.rating '>=' 1}}
            <img src="/img/rating-beer-on.png" alt="1">
            {{ else ifCond tour.rating '>=' 0.5}}
            <img src="/img/rating-beer-half.png" alt="1">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="1">
            {{/ifCond}}

            {{!-- Beer 2 --}}
            {{#ifCond tour.rating '<=' 1}}
            <img src="/img/rating-beer-off.png" alt="2">
            {{ else ifCond tour.rating '>=' 2}}
            <img src="/img/rating-beer-on.png" alt="2">
            {{ else ifCond tour.rating '>=' 1.5}}
            <img src="/img/rating-beer-half.png" alt="2">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="2">
            {{/ifCond}}

            {{!-- Beer 3 --}}
            {{#ifCond tour.rating '<=' 2}}
            <img src="/img/rating-beer-off.png" alt="3">
            {{ else ifCond tour.rating '>=' 3}}
            <img src="/img/rating-beer-on.png" alt="3">
            {{ else ifCond tour.rating '>=' 2.5}}
            <img src="/img/rating-beer-half.png" alt="3">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="3">
            {{/ifCond}}

            {{!-- Beer 4 --}}
            {{#ifCond tour.rating '<=' 3}}
            <img src="/img/rating-beer-off.png" alt="4">
            {{ else ifCond tour.rating '>=' 4}}
            <img src="/img/rating-beer-on.png" alt="4">
            {{ else ifCond tour.rating '>=' 3.5}}
            <img src="/img/rating-beer-half.png" alt="4">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="4">
            {{/ifCond}}

            {{!-- Beer 5 --}}
            {{#ifCond tour.rating '<=' 4}}
            <img src="/img/rating-beer-off.png" alt="5">
            {{ else ifCond tour.rating '>=' 5}}
            <img src="/img/rating-beer-on.png" alt="5">
            {{ else ifCond tour.rating '>=' 4.5}}
            <img src="/img/rating-beer-half.png" alt="5">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="5">
            {{/ifCond}}
        </div>
    </div>

    <div id="map" class="tour-detail-map position-sticky sticky-top"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon" />
        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
    </div>
    {{!-- <div id="directions-panel"></div> --}}





    {{#each tour.places}}
    <a href="/places/{{this._id}}">
        <div class="row place-ontour">
            <div class="col-4 tour-detail-col-photo">
                <div class="tour-detail-list-photo" style="background-image: url('{{this.image}}');">
                    {{#if this.recommended}}
                    <div class="place-detail-recommended">
                        <i class="fas fa-star"></i>
                    </div>
                    {{/if}}
                    <div class="tour-detail-rating-new">
                        <span class="rating-num tour-detail-rating-num">{{this.rating}}</span>
                        {{!-- Beer 1 --}}
                        {{#ifCond this.rating '<=' 0}}
                        <img src="/img/star-off.png" alt="1">
                        {{ else ifCond this.rating '>=' 1}}
                        <img src="/img/star-on.png" alt="1">
                        {{ else ifCond this.rating '>=' 0.5}}
                        <img src="/img/star-half.png" alt="1">
                        {{ else }}
                        <img src="/img/star-off.png" alt="1">
                        {{/ifCond}}
                        {{!-- Beer 2 --}}
                        {{#ifCond this.rating '<=' 1}}
                        <img src="/img/star-off.png" alt="2">
                        {{ else ifCond this.rating '>=' 2}}
                        <img src="/img/star-on.png" alt="2">
                        {{ else ifCond this.rating '>=' 1.5}}
                        <img src="/img/star-half.png" alt="2">
                        {{ else }}
                        <img src="/img/star-off.png" alt="2">
                        {{/ifCond}}

                        {{!-- Beer 3 --}}
                        {{#ifCond this.rating '<=' 2}}
                        <img src="/img/star-off.png" alt="3">
                        {{ else ifCond this.rating '>=' 3}}
                        <img src="/img/star-on.png" alt="3">
                        {{ else ifCond this.rating '>=' 2.5}}
                        <img src="/img/star-half.png" alt="3">
                        {{ else }}
                        <img src="/img/star-off.png" alt="3">
                        {{/ifCond}}

                        {{!-- Beer 4 --}}
                        {{#ifCond this.rating '<=' 3}}
                        <img src="/img/star-off.png" alt="4">
                        {{ else ifCond this.rating '>=' 4}}
                        <img src="/img/star-on.png" alt="4">
                        {{ else ifCond this.rating '>=' 3.5}}
                        <img src="/img/star-half.png" alt="4">
                        {{ else }}
                        <img src="/img/star-off.png" alt="4">
                        {{/ifCond}}

                        {{!-- Beer 5 --}}
                        {{#ifCond this.rating '<=' 4}}
                        <img src="/img/star-off.png" alt="5">
                        {{ else ifCond this.rating '>=' 5}}
                        <img src="/img/star-on.png" alt="5">
                        {{ else ifCond this.rating '>=' 4.5}}
                        <img src="/img/star-half.png" alt="5">
                        {{ else }}
                        <img src="/img/star-off.png" alt="5">
                        {{/ifCond}}
                    </div>
                </div>

            </div>
            <div class="col-6 tour-detail-info">

                <h3 class="tour-list-title">{{dotdotdot this.name 30}}</h3>
                <p class="tour-list-descrip">{{dotdotdot this.address 60}}</p>
                <div class="row tour-list-place-info">
                    <div class="col-1 open-icon">
                        <i class="fas fa-calendar-check"></i>
                        {{!-- <img src="/img/calendar-check-solid.svg" alt="calendar-check-solid"> --}}
                    </div>
                    <div class="col-5 schedule-info">{{#if this.isOpen }}Open{{ else }} Close {{/if}}</div>
                    <div class="col-1 price-icon">
                        <img src="/img/price-icon.svg" alt="Price">
                    </div>
                    <div class="col-5 price-info">
                        {{#ifCond this.priceLevel '==' 1}}<span>€</span><span class="price-text-muted">€</span><span
                            class="price-text-muted">€</span>
                        {{ else ifCond this.priceLevel '==' 2}}<span>€€</span><span
                            class="price-text-muted">€{{ else ifCond this.priceLevel '==' 3}}<span>€€€</span>{{/ifCond}}
                    </div>
                </div>
            </div>
            <div class="col-2 tour-detail-place-position">
                <p class="tour-num-new">{{inc @index}}</p>
            </div>


        </div>
    </a>
    {{/each}}

    <div class="tour-detail-desc mt-4 mb-3">
        <strong>Description:</strong>
        <p class="mt-2" id="dotdotdot-descrip">{{tour.description}}</p>
        <button onclick="readMore()" id="myBtn" class="read-more"> <img class="mr-2" src="/img/more-info-button.png"
                alt="Read More"></button>
    </div>



</article>