<article class="tour-detail">
    <div class="purple-back-secundary">
        <h4 class="tour-detail-title-primary">
            <a class="appyhour-breadcrumb" href="/tours">TOURS</a> <span class="appy-slack">/</span> TOUR
        </h4>
        <div class="tour-detail-img">
            <img src="/img/tourdetail.svg" alt="Tour Detail">
        </div>
    </div>
    <h3>{{tour.name}}</h3>
    <div class="tour-detail-photo" style="background-image: url('{{tour.image}}');">
        {{#if tour.recommended}}
        <div class="tour-list-recommended">
            <i class="fa fa-star"></i> <span>RECOMMENDED</span>
        </div>
        {{/if}}
        <div class="tour-list-rating detail">
            <span class="rating-num">{{tour.rating}}</span>
            {{!-- Beer 1 --}}
            {{#ifCond tour.rating '<=' 0}}
            <img src="/img/rating-beer-off.png" alt="1">
            {{ else ifCond tour.rating '>=' 1}}
            <img src="/img/rating-beer-on.png" alt="1">
            {{ else ifCond tour.rating '>=' 0.5}}
            <img src="/img/rating-beer-half.png" alt="1">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="1">
            {{/ifCond}}

            {{!-- Beer 2 --}}
            {{#ifCond tour.rating '<=' 1}}
            <img src="/img/rating-beer-off.png" alt="2">
            {{ else ifCond tour.rating '>=' 2}}
            <img src="/img/rating-beer-on.png" alt="2">
            {{ else ifCond tour.rating '>=' 1.5}}
            <img src="/img/rating-beer-half.png" alt="2">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="2">
            {{/ifCond}}

            {{!-- Beer 3 --}}
            {{#ifCond tour.rating '<=' 2}}
            <img src="/img/rating-beer-off.png" alt="3">
            {{ else ifCond tour.rating '>=' 3}}
            <img src="/img/rating-beer-on.png" alt="3">
            {{ else ifCond tour.rating '>=' 2.5}}
            <img src="/img/rating-beer-half.png" alt="3">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="3">
            {{/ifCond}}

            {{!-- Beer 4 --}}
            {{#ifCond tour.rating '<=' 3}}
            <img src="/img/rating-beer-off.png" alt="4">
            {{ else ifCond tour.rating '>=' 4}}
            <img src="/img/rating-beer-on.png" alt="4">
            {{ else ifCond tour.rating '>=' 3.5}}
            <img src="/img/rating-beer-half.png" alt="4">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="4">
            {{/ifCond}}

            {{!-- Beer 5 --}}
            {{#ifCond tour.rating '<=' 4}}
            <img src="/img/rating-beer-off.png" alt="5">
            {{ else ifCond tour.rating '>=' 5}}
            <img src="/img/rating-beer-on.png" alt="5">
            {{ else ifCond tour.rating '>=' 4.5}}
            <img src="/img/rating-beer-half.png" alt="5">
            {{ else }}
            <img src="/img/rating-beer-off.png" alt="5">
            {{/ifCond}}
        </div>
    </div>

    <div id="map" class="tour-detail-map"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon" />
        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
    </div>


    <div class="tour-detail-desc mt-3 mb-3">
        <strong>Description:</strong>
        <p id="dotdotdot-descrip">{{tour.description}}</p>
        <button onclick="readMore()" id="myBtn" class="read-more"> <img class="mr-2" src="/img/more-info-button.png"
                alt="Read More">
            Read
            more</button>
    </div>

    {{#each places}}
    <a href="/places/{{this._id}}">
        <div class="row pb-3 pt-3">
            <div class="col-3">
                <div class="tour-detail-list-photo" style="background-image: url('{{this.image}}');">
                </div>
                {{#if @last }}
                <div class="tour-line">
                    {{!-- <img class="tour-line-img" src="/img/tour-line.png" alt="Tour Line"> --}}
                </div>
                {{ else if @index }}
                <div class="tour-line">
                    <img class="tour-line-img" src="/img/tour-line.png" alt="Tour Line">
                </div>
                {{ else if @first }}
                <div class="tour-line">
                    <img class="tour-line-img" src="/img/tour-line.png" alt="Tour Line">
                </div>
                {{/if}}
            </div>
            <div class="col-9">
                <div class="tour-circle">
                    <p class="tour-num">{{inc @index}}</p>
                    <img src="/img/tour-circle-purple.png" alt="Circle Purple">
                </div>
                <h3 class="tour-create-title">{{dotdotdot this.name 35}}</h3>
                <p class="tour-desc">{{dotdotdot this.address 60}}</p>
            </div>

            {{!-- Place Rating --}}
            <div class="col-12 tour-rating">
                {{!-- <span class="user-rating">(74)</span> --}}
                <span class="rating-num">{{this.rating}}</span>

                {{!-- Star 1 --}}
                {{#ifCond this.rating '<=' 0}}
                <img src="/img/star-off.png" alt="1">
                {{ else ifCond this.rating '>=' 1}}
                <img src="/img/star-on.png" alt="1">
                {{ else ifCond this.rating '>=' 0.5}}
                <img src="/img/star-half.png" alt="1">
                {{ else }}
                <img src="/img/star-off.png" alt="1">
                {{/ifCond}}

                {{!-- Star 2 --}}
                {{#ifCond this.rating '<=' 1}}
                <img src="/img/star-off.png" alt="2">
                {{ else ifCond this.rating '>=' 2}}
                <img src="/img/star-on.png" alt="2">
                {{ else ifCond this.rating '>=' 1.5}}
                <img src="/img/star-half.png" alt="2">
                {{ else }}
                <img src="/img/star-off.png" alt="2">
                {{/ifCond}}

                {{!-- Star 3 --}}
                {{#ifCond this.rating '<=' 2}}
                <img src="/img/star-off.png" alt="3">
                {{ else ifCond this.rating '>=' 3}}
                <img src="/img/star-on.png" alt="3">
                {{ else ifCond this.rating '>=' 2.5}}
                <img src="/img/star-half.png" alt="3">
                {{ else }}
                <img src="/img/star-off.png" alt="3">
                {{/ifCond}}

                {{!-- Star 4 --}}
                {{#ifCond this.rating '<=' 3}}
                <img src="/img/star-off.png" alt="4">
                {{ else ifCond this.rating '>=' 4}}
                <img src="/img/star-on.png" alt="4">
                {{ else ifCond this.rating '>=' 3.5}}
                <img src="/img/star-half.png" alt="4">
                {{ else }}
                <img src="/img/star-off.png" alt="4">
                {{/ifCond}}

                {{!-- Star 5 --}}
                {{#ifCond this.rating '<=' 4}}
                <img src="/img/star-off.png" alt="5">
                {{ else ifCond this.rating '>=' 5}}
                <img src="/img/star-on.png" alt="5">
                {{ else ifCond this.rating '>=' 4.5}}
                <img src="/img/star-half.png" alt="5">
                {{ else }}
                <img src="/img/star-off.png" alt="5">
                {{/ifCond}}
            </div>
        </div>
    </a>
    {{/each}}



</article>